.navbar-link a :hover{
    border-bottom: 2px solid black;
}

section.index-slider{
    border-top: 5px solid black;
    border-bottom: 8px solid black;
    background-repeat: repeat-x;
    background-position: center center;
    background-size: contain;
    height: 300px;
}